### Loading Dataset

In [1]:
import pandas as pd

In [2]:
titanic_data = pd.read_csv(r"C:\Users\aswin v manoharan\Downloads\titanic_dataset  (1).csv")

In [3]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Preprocessing

In [6]:
titanic_data.info()
titanic_data.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.9+ KB

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [7]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [9]:
titanic_data.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [10]:
# Encode categorical features
label_encoder = LabelEncoder()
titanic_data['Sex'] = label_encoder.fit_transform(titanic_data['Sex'])

In [11]:
from sklearn.model_selection import train_test_split
# Split the dataset into features (X) and target variable (y)
X = titanic_data.drop('Survived', axis=1)
y = titanic_data['Survived']

In [14]:
# Standardize features
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [15]:
knn_model = KNeighborsClassifier(n_neighbors=5)
svm_model = SVC()

In [21]:
 # Perform k-fold and stratified k-fold cross-validation
# k-fold cross-validation for kNN
knn_scores = cross_val_score(knn_model, X, y, cv=5)
average_knn_accuracy = knn_scores.mean()

In [22]:
# Stratified k-fold cross-validation for kNN
stratified_knn = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
stratified_knn_scores = cross_val_score(knn_model, X, y, cv=stratified_knn)
average_stratified_knn_accuracy = stratified_knn_scores.mean()

In [23]:
# k-fold cross-validation for SVM
svm_scores = cross_val_score(svm_model, X, y, cv=5)
average_svm_accuracy = svm_scores.mean()

In [24]:
# Stratified k-fold cross-validation for SVM
stratified_svm = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
stratified_svm_scores = cross_val_score(svm_model, X, y, cv=stratified_svm)
average_stratified_svm_accuracy = stratified_svm_scores.mean()

In [25]:
print(f'Average kNN Accuracy (k-fold): {average_knn_accuracy:.4f}')
print(f'Average kNN Accuracy (Stratified k-fold): {average_stratified_knn_accuracy:.4f}')
print(f'Average SVM Accuracy (k-fold): {average_svm_accuracy:.4f}')
print(f'Average SVM Accuracy (Stratified k-fold): {average_stratified_svm_accuracy:.4f}')

Average kNN Accuracy (k-fold): 0.8204
Average kNN Accuracy (Stratified k-fold): 0.8249
Average SVM Accuracy (k-fold): 0.8283
Average SVM Accuracy (Stratified k-fold): 0.8249