In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\aswin v manoharan\Downloads\Students_Performance.csv")

# Find out how many males and females participated in the test

In [3]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [4]:
gender_count = data['gender'].value_counts()
print("Count of males and females:\n", gender_count)

Count of males and females:
 female    518
male      482
Name: gender, dtype: int64

# What do you think about the students parental level of education

In [13]:
parental_education_level = data['parental level of education'].unique()
print("Parental levels of education:\n", parental_education_level)

Parental levels of education:
 ['some high school' 'high school' 'some college' "associate's degree"
 "bachelor's degree" "master's degree"]

# Who scores the most on average for math, reading and
# writing based on
# i. Gender
# ii. Test preparation course

In [7]:
gender_scores = data.groupby('gender').mean()
print("Average scores based on gender:\n", gender_scores)

Average scores based on gender:
         math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

C:\Users\aswin v manoharan\AppData\Local\Temp\ipykernel_9432\3365683235.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gender_scores = data.groupby('gender').mean()

In [8]:
course_scores = data.groupby('test preparation course').mean()
print("Average scores based on test preparation course:\n", course_scores)

Average scores based on test preparation course:
                          math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

C:\Users\aswin v manoharan\AppData\Local\Temp\ipykernel_9432\1680989242.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  course_scores = data.groupby('test preparation course').mean()

# What do you think about the scoring variation for
# math, reading and writing based on
# i. Gender
# ii. Test preparation course

In [9]:
gender_variability = data.groupby('gender').var()
print("Scoring variation based on gender:\n", gender_variability)

Scoring variation based on gender:
         math score  reading score  writing score
gender
female  256.958593     207.677438     220.369327
male    211.889097     200.211010     202.413924

C:\Users\aswin v manoharan\AppData\Local\Temp\ipykernel_9432\1000513111.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.var is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gender_variability = data.groupby('gender').var()

In [10]:
course_variability = data.groupby('test preparation course').var()
print("Scoring variation based on test preparation course:\n", course_variability)

Scoring variation based on test preparation course:
                          math score  reading score  writing score
test preparation course
completed                210.884027     183.265864     175.202612
none                     246.668662     213.419851     226.251739

C:\Users\aswin v manoharan\AppData\Local\Temp\ipykernel_9432\2177370782.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.var is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  course_variability = data.groupby('test preparation course').var()

# The top 25% of students based on their math score

In [12]:
top_25 = data[data['math score'] >= np.percentile(data['math score'], 75)]
print("Top 25% of students based on math score:\n", top_25)

Top 25% of students based on math score:
      gender race/ethnicity parental level of education         lunch  \
414  female        group A                 high school  free/reduced
415  female        group B             master's degree  free/reduced
416  female        group B           bachelor's degree  free/reduced
417  female        group B             master's degree      standard
418  female        group B                 high school      standard
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
414               completed          77             88             85
415               completed          77             97             94
416                    none          77             85             87
417                    none          77             90             84
418               completed          77             82             89
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[255 rows x 8 columns]